.zona {
    background-image: url("./assets/Imagen1.jpg");
    background-size: cover;       
    background-position: center;  
    width: 97%;
    margin: 60px auto;           
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;           
}

.expre {
    display: flex;               
    justify-content: center;     
    align-items: center;          
    margin-top: 20px;
}

.table {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
}

.name {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
}

