.producto{
background-color: rgb(216, 216, 216);
    width: 275px;
    height: 300px;           
    text-align: center;
    padding: 15px;
    border-radius: 8px;       
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}