.sucursaless {
    width: 1500px;             
    max-width: 1800px;        
    background-color: #ffffff;
    margin: 0 auto;           
    padding: 20px;
    display: flex;            
    flex-wrap: wrap;          
    justify-content: center; 
    gap: 40px;    
}

.sucursal, .sucursale, .sucursalesss {
    width: 275px;
    height: 600px;           
    text-align: center;
    padding: 15px;
    border-radius: 8px;       
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    margin: 10px;
}


.sucursal {
    background-color: rgb(216, 216, 216);
}

.sucursale {
    background-color: rgb(212, 212, 212);
}

.sucursalesss {
    background-color: rgb(199, 199, 199);
}
