.usuarios-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.usuarios-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.usuarios-table th,
.usuarios-table td {
<<<<<<< HEAD
  border: 1px solid #000000;
=======
  border: 1px solid #9c3b3b;
>>>>>>> aaddeb34ed897cb39bada441f6b5a308a4b81994
  padding: 12px;
  text-align: center;
}

.usuarios-table th {
<<<<<<< HEAD
  background-color: #081d96;
=======
  background-color: #1c9bc2;
>>>>>>> aaddeb34ed897cb39bada441f6b5a308a4b81994
  color: #fff;
}

.usuarios-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn.editar, .btn.eliminar {
  padding: 6px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.editar {
<<<<<<< HEAD
  background-color: #0f7e13;
=======
  background-color: #4caf50;
>>>>>>> aaddeb34ed897cb39bada441f6b5a308a4b81994
  color: white;
}

.btn.eliminar {
<<<<<<< HEAD
  background-color: #931c1c;
=======
  background-color: #f44336;
>>>>>>> aaddeb34ed897cb39bada441f6b5a308a4b81994
  color: white;
}